.cache/
*/cufile.log
*/*/cufile.log
tmp/*
*/__pycache__/*
*/compile_commands.json
scripts/logs/*
scripts/results/*
motivation/breakdown
tools/ccan
scripts/results*
sc25/result*
sc25/logs/*
build/
*.so
.codebuddy/*
